@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -moz-font-smoothing: unset;
    outline: 0;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    -webkit-print-color-adjust: exact;
  }
  
  html,
  body {
    width: 100%;
    height: 100%;
   overflow-x: hidden;

  }

body {
background: #f2f4f6
; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    background-repeat: no-repeat;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title{
    font-family: 'Anton', sans-serif;
    font-size: 10vw;
    margin: 5% auto;
    max-width: 80%;
    text-align: center;
    text-shadow:5px 5px 10px #675e5e;
    color: black;
}

div.row{
    max-width: 90%;
    margin: auto;
}

// Cards

    div.wrapper{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: baseline;
        .my-card:nth-child(odd) {
            a{
                box-shadow: 1px 1px 10px -1px #00ffff;
            }
        }
    }

  .my-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    min-width: 350px;
    margin: 4% auto;
    position: relative;
    background: #fff;
    overflow:hidden;
    border-radius:6px;
    box-shadow:0 7px 14px rgba(167, 157, 157, 0.1), 0 8px 12px rgba(0,0,0,0.10);
    transition:(all 0.6s cubic-bezier(.25,.8,.25,1));

    a{
        font-family: 'Didact Gothic', sans-serif;
        width: 50%;
        display: block;
        font-size: 1.2rem;
        padding: 1%;
        text-align: center;
        color: black;
        margin: 6% auto;
        border: 1.2px solid rgba(0, 0, 0, 0.1);
        box-shadow: 1px 1px 10px -1px #ff95f6;
        cursor: pointer;
        transition: background 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);

    }
    a:hover{
      background:#f9f9f9;
      color:black;
      text-decoration:none;
      cursor:pointer;
    }
    
  }
  .my-card__1:hover{
    box-shadow:0 14px 20px rgba(0,0,0,0.10), 0 7px 7px rgba(0,0,0,0.12);
  }
  
  
  .my-card__content {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    h2{
      font-size:150%;
      line-height:2rem;
      font-family: 'Special Elite', cursive;
      text-align: justify;
      font-weight: bold;;
      margin: 3% auto;
    }
    p{
        font-size: 1.1rem;
        margin: 3% auto;
        text-align: justify;
        font-family: 'Didact Gothic', sans-serif;

    }
  }
  
  // CARD HOVER 
  .my-card-img{
    overflow: hidden;
  }
  
  .my-card-img img{
    width: 100%;
    max-height: 210px;
    border-radius:6px 6px 0px 0px;
    transition:(all 1.2s cubic-bezier(.25,.8,.25,1));
  }
  .my-card:hover > .my-card-img img{
    filter: contrast(150%);
    transform:scale(1.20);
  }

//   mobile

@media (max-width:501px){
    .title{
        font-size: 15vw;
    }
    .my-card{
        max-width: 275px;
        min-width: 250px;
        a{
            font-size: 1rem;
        }
    }
    .my-card__content {
        h2{
          font-size:115%;
          line-height: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
      }
}